<div class="modal-dialog">
    <div class="container-fluid">
        <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group class="panel-default" heading="IVR Objects" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                This content is straight in the template.
            </div>
            <div uib-accordion-group class="panel-default" heading="Current Usage">
                Hello
            </div>
            <div uib-accordion-group class="panel-default" heading="Load">
                Hello
            </div>
            <div uib-accordion-group class="panel-default" heading="Create New">
                Hello
            </div>

        </uib-accordion>
    </div>

</div>