<div ng-controller="dashboard">
    <div gridster="gridsterOpts">
        <ul>
            <li gridster-item="item" ng-repeat="item in standardItems" class="panel panel-default">
                <div class="panel-heading rebranded-header rebranded-text">Call Volume</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Number
                                </th>
                                <th>
                                    Calls
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="calls in item.callVolume">
                                <td>
                                    {{calls.number}}
                                </td>
                                <td>
                                    {{calls.calls}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h2>

                    </h2>
                </div>
            </li>
            <li gridster-item="item" ng-repeat="item in lineChart" class="panel panel-default">
                <div class="panel-heading rebranded-header rebranded-text">Line Chart</div>
                <div class="panel-body">
                    <div ng-controller="LineCtrl">
                        <canvas id="line" class="chart chart-line" chart-data="data"
                                chart-labels="labels" chart-series="series" chart-options="options"
                                chart-dataset-override="datasetOverride" chart-click="onClick">
                        </canvas>
                    </div>
                </div>
            </li>
            <li gridster-item="item" ng-repeat="item in barChart" class="panel panel-default">
                <div class="panel-heading rebranded-header rebranded-text">Line Chart</div>
                <div class="panel-body">
                    <div ng-controller="MixedChartCtrl">
                        <canvas id="line" class="chart chart-line" chart-data="data"
                                chart-labels="labels" chart-series="series" chart-options="options"
                                chart-dataset-override="datasetOverride" chart-click="onClick">
                        </canvas>
                    </div>
                </div>
            </li>
            <li gridster-item="item" ng-repeat="item in googleGauge" class="panel panel-default" id="gaugePanel">
                <div class="panel-heading rebranded-header rebranded-text">
                    Google Gauge
                </div>
                <div class="panel-body">
                    <div ng-controller="googleGauge">
                        <div google-chart chart="myChartObject"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>