<div class="container-fluid" >
    <div ng-class="[{'class-expanded': expanded}, {'class-unexpanded': expanded === false}]">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <div class="btn-group pull-left" uib-dropdown>
                    <button id="dropdown-button" type="button" class="btn btn-sm btn-primary" uib-dropdown-toggle uib-tooltip="Load existing IVR">
                        Load IVR <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="dropdown-button">
                        <li role="menuitem" ng-repeat="ivr in IVRlist"><a href="#!IVR_builder" ng-click="changeName(ivr)"><i class="fa pr2" ng-class="[{'fa-lock': locked}, {'fa-unlock-alt': !locked}]"></i> {{ivr}}</a></li>
                    </ul>
                </div>

                <a><i class="fa fa-2x pl3 pr3" ng-class="[{'fa-lock': locked}, {'fa-unlock-alt': !locked}]" ng-click="unlock()" uib-tooltip="Lock IVR editing to you"></i></a>
                <a href="#!IVR_builder"><i class="fa fa-2x pr3 fa-file-o" uib-tooltip="New IVR"></i></a>
                <a href="#!IVR_builder"><i class="fa fa-2x pr3 fa-floppy-o" uib-tooltip="Save IVR"></i></a>
                <a href="#!IVR_builder"><i class="fa fa-2x pr3 fa-tags" uib-tooltip="See object IDs and information"></i></a>
                <a href="#!IVR_builder"><i class="fa fa-2x pr3 fa-trash" uib-tooltip="Delete IVR"></i></a>
            </div>


            <div>
                <h4 style="display: inline-block; text-align: center; margin-right: auto; margin-left: auto;">{{current_IVR_name}}</h4>
            </div>



            <div>
                <div class="pull-right btn-group" uib-dropdown>
                    <button id="IVR-dropdown" type="button" class="pull-right btn btn-sm btn-info" uib-dropdown-toggle uib-tooltip="Choose IVR object">
                        IVR Objects <span class="caret">
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="IVR-dropdown">
                        <li role="menuitem" ng-repeat="object in IVRobjectList"><a href="#!IVR_builder"><img src="{{object.imgSrc}}"></a></li>
                    </ul>
                </div>

                <div class="pull-right btn-group" uib-dropdown>
                    <button class="pull-right btn btn-sm btn-info" ng-click="hide()">IVR Objects <span class="caret"></button>
                    <div ng-hide="!IVRhide" style="width: 90px;" class="text-center">
                        <img src="../img/icons/Bridge.png" class="pt2" width="45"/>
                        <img src="../img/icons/DialToRecordMessage.png" class="pt2" width="45"/>
                        <img src="../img/icons/Wait.png" class="pt2" width="45"/>
                        <img src="../img/icons/Voicemail.png" class="pt2" width="45"/>
                        <img src="../img/icons/TestValue.png" class="pt2" width="45"/>
                        <img src="../img/icons/Start.png" class="pt2" width="45"/>
                        <img src="../img/icons/Rest.png" class="pt2" width="45"/>
                        <img src="../img/icons/ReadValue.png" class="pt2" width="45"/>
                        <img src="../img/icons/PlaySound.png" class="pt2" width="45"/>
                        <img src="../img/icons/HoursCheck.png" class="pt2" width="45"/>
                        <img src="../img/icons/GoToIVR.png" class="pt2" width="45"/>
                        <img src="../img/icons/GeoRouting.png" class="pt2" width="45"/>
                        <img src="../img/icons/EndCall.png" class="pt2" width="45"/>
                        <img src="../img/icons/DigitCapture.png" class="pt2" width="45"/>
                    </div>
                </div>


                <a><i class="fa fa-2x pl3 pr3 pull-right" ng-click="expand()" ng-class="[{'fa-expand': expanded === false}, {'fa-compress': expanded === true}]" uib-tooltip="Fullscreen"></i></a>
                <a href="#!IVR_builder"><i class="fa fa-2x pl3 fa-search-plus pull-right" uib-tooltip="Zoom in"></i></a>
                <a href="#!IVR_builder"><i class="fa fa-2x pl3 fa-search-minus pull-right" uib-tooltip="Zoom out"></i></a>
            </div>
        </div>





        <div style="border: 2px solid #dddddd; width: 250px; height: 175px; position: absolute; border-radius: 2px;" class="mt2">
            <div style="border: 2px solid #dddddd; width: 120px; height: 80px; position: absolute; top: 20px; left: 20px; border-radius: 2px;" class="mt3">
                <div style="background-color: #dddddd; width: 20px; height: 20px; position: relative; top: 56px; left: 96px;" class="text-center">
                    <a href="#!IVR_builder"><i class="fa fa-arrows" style="color: #fff; cursor: move;"></i></a>
                </div>
            </div>
        </div>
        <canvas id="canvas" ng-model="canvas"></canvas>

    </div>

</div>