<div class="container-fluid" ng-controller="IVR_representation_controller">
    <div ng-class="[{'class-expanded': expanded}, {'class-unexpanded': expanded === false}]">
        <a href="#"><i class="fa fa-2x pr3 fa-floppy-o"></i></a>
        <a href="#"><i class="fa fa-2x pr3 fa-tags"></i></a>
        <a href="#"><i class="fa fa-2x pr3 fa-undo"></i></a>
        <a href="#"><i class="fa fa-2x pr3 fa-repeat"></i></a>
        <a href="#"><i class="fa fa-2x pr3 fa-hand-grab-o"></i></a>

        <a><i class="fa fa-2x pl3 pull-right" ng-click="expand()" ng-class="[{'fa-expand': expanded === false}, {'fa-compress': expanded === true}]"></i></a>
        <a href="#"><i class="fa fa-2x pl3 fa-search-plus pull-right"></i></a>
        <a href="#"><i class="fa fa-2x pl3 fa-search-minus pull-right"></i></a>

        <div style="border: 2px solid #dddddd; width: 250px; height: 175px; position: absolute; border-radius: 2px;" class="mt2">
            <div style="border: 2px solid #dddddd; width: 120px; height: 80px; position: absolute; top: 20px; left: 20px; border-radius: 2px;" class="mt3">
                <div style="background-color: #dddddd; width: 20px; height: 20px; position: relative; top: 56px; left: 96px;" class="text-center">
                    <a href="#"><i class="fa fa-arrows" style="color: #fff; cursor: move;"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>