<div class="fl w-100">
    <h2 class="tc">Calls</h2>
    <div class="bw1 br1  fl w-third pa3 grow" ng-controller="DoughnutCtrl">
        <canvas id="doughnut" class="chart chart-doughnut mb2"
                chart-data="doughnutData.calls.data" chart-labels="doughnutData.calls.labels" chart-colors="doughnutData.calls.colors">
        </canvas>
        <div class="fl w-50 pa3 tc br bw1 b--black-30">
            <h4>{{doughnutData.calls.labels[1]}}</h4>
            <h1>{{doughnutData.calls.data[1]}}</h1>
        </div>
        <div class="fl w-50 pa3 tc">
            <h4>{{doughnutData.calls.labels[0]}}</h4>
            <h1>{{doughnutData.calls.data[0]}}</h1>
        </div>
    </div>
    <div class="bw1 br1  fl w-third pa3 grow" ng-controller="DoughnutCtrl">
        <canvas id="doughnut" class="chart chart-doughnut mb2"
                chart-data="doughnutData.queues.data" chart-labels="doughnutData.queues.labels" chart-colors="doughnutData.queues.colors">
        </canvas>
        <div class="fl w-50 pa3 tc br bw1 b--black-30">
            <h4>{{doughnutData.queues.labels[1]}}</h4>
            <h1>{{doughnutData.queues.data[1]}}</h1>
        </div>
        <div class="fl w-50 pa3 tc">
            <h4>{{doughnutData.queues.labels[0]}}</h4>
            <h1>{{doughnutData.queues.data[0]}}</h1>
        </div>
    </div>
    <div class="bw1 br1  fl w-third pa3 grow" ng-controller="DoughnutCtrl">
        <canvas id="doughnut" class="chart chart-doughnut mb2"
                chart-data="doughnutData.IVRs.data" chart-labels="doughnutData.IVRs.labels" chart-colors="doughnutData.IVRs.colors">
        </canvas>
        <div class="fl w-50 pa3 tc br bw1 b--black-30">
            <h4>{{doughnutData.IVRs.labels[1]}}</h4>
            <h1>{{doughnutData.IVRs.data[1]}}</h1>
        </div>
        <div class="fl w-50 pa3 tc">
            <h4>{{doughnutData.IVRs.labels[0]}}</h4>
            <h1>{{doughnutData.IVRs.data[0]}}</h1>
        </div>
    </div>
</div>

<div class="fl w-100 pa3"></div>

<div class="fr w-10" ng-controller="dashboard">
    <h2 class="tc">Numbers</h2>
    <div class="fr w-100 tc pt4" ng-repeat="number in standardItems[0].callVolume">
        <h4>{{number.number}}</h4>
        <h1>{{number.calls}}</h1>
    </div>
</div>

<div class="fr w-50">
    <div class="fl w-100 grow" ng-controller="layout02Chart">
        <h2 class="tc">Weekly reporting</h2>
        <canvas id="base" class="chart-bar"
                chart-data="lineChart01.data" chart-labels="lineChart01.labels" chart-colors="lineChart01.colors"
                chart-dataset-override="lineChart01.datasetOverride" >
        </canvas>
    </div>
    <div class="fl w-100 grow" ng-controller="layout02Chart">
        <h2 class="tc">Monthly reporting</h2>
        <canvas id="base" class="chart-line"
                chart-data="lineChart02.data" chart-labels="lineChart02.labels" chart-colors="lineChart02.colors"
                chart-dataset-override="lineChart02.datasetOverride" >
        </canvas>
    </div>
</div>


<div class="w-third" ng-controller="layout02Gauge">
    <div class="bw1 br1 fl w-100 grow mb3">
        <div google-chart chart="chart01" class="w-50 fl br bw1 b--black-30"></div>
        <div class="w-50 fr tc pt4">
            <h4>{{chart01.data[1][0]}}</h4>
            <h1>{{chart01.data[1][1]}}</h1>
        </div>
    </div>
    <div class="bw1 br1 fl w-100 grow mb3">
        <div google-chart chart="chart02" class="w-50 fl br bw1 b--black-30"></div>
        <div class="w-50 fr tc pt4">
            <h4>{{chart02.data[1][0]}}</h4>
            <h1>{{chart02.data[1][1]}}</h1>
        </div>
    </div>
    <div class="bw1 br1 fl w-100 grow mb3">
        <div google-chart chart="chart03" class="w-50 fl br bw1 b--black-30"></div>
        <div class="w-50 fr tc pt4">
            <h4>{{chart03.data[1][0]}}</h4>
            <h1>{{chart03.data[1][1]}}</h1>
        </div>

    </div>
</div>



