<div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Total calls today
        </div>
        <div class="panel-body">
            <div class="pull-left">
                <h2>
                    <i class="fa fa-phone fa-3x" aria-hidden="true"></i>
                </h2>
            </div>

            <div class="pull-right text-center">
                <h2>Today</h2>
                <h1>347</h1>
            </div>

        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Total calls this week
        </div>
        <div class="panel-body">
            <div class="pull-left">
                <h2>
                    <i class="fa fa-phone fa-3x" aria-hidden="true"></i>
                </h2>
            </div>

            <div class="pull-right text-center">
                <h2>Week</h2>
                <h1>1290</h1>
            </div>

        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="panel panel-success">
        <div class="panel-heading">
            Calls in queue
        </div>
        <div class="panel-body">
            <div class="pull-left">
                <h2>
                    <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                </h2>
            </div>

            <div class="pull-right text-center">
                <h2>Queue</h2>
                <h1>4</h1>
            </div>

        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="panel panel-info">
        <div class="panel-heading">
            Total minutes
        </div>
        <div class="panel-body">
            <div class="pull-left">
                <h2>
                    <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                </h2>
            </div>

            <div class="pull-right text-center">
                <h2>Minutes</h2>
                <h1>13,567</h1>
            </div>

        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="panel panel-success" ng-controller="GaugeChartCtrl01">
        <div class="panel-heading">
            <i class="fa fa-dashboard"></i> Inbound queues
        </div>
        <div class="panel-body">
            <div class="pull-left col-xs-12 col-sm-6" google-chart chart="myChartObject" style="height:130px;"></div>
            <div class="col-xs-12 col-sm-6">
                <div>85 Calls</div>
                <div>52 Callers</div>
                <div>25 call-backs</div>
                <div>01:32 wait time</div>
                <div class="">52 Callers</div>
            </div>

        </div>
    </div>
    <div class="panel panel-success" ng-controller="GaugeChartCtrl02">
        <div class="panel-heading">
            <i class="fa fa-dashboard"></i> Outbound queues
        </div>
        <div class="panel-body">
            <div class="pull-left col-xs-12 col-sm-6" google-chart chart="myChartObject" style="height:130px;"></div>
            <div class="col-xs-12 col-sm-6">
                <div>85 Calls</div>
                <div>52 Callers</div>
                <div>25 call-backs</div>
                <div>01:32 wait time</div>
                <div class="">52 Callers</div>
            </div>
        </div>
    </div>
    <div class="panel panel-success" ng-controller="GaugeChartCtrl03">
        <div class="panel-heading">
            <i class="fa fa-dashboard"></i> National queues
        </div>
        <div class="panel-body">
            <div class="pull-left col-xs-12 col-sm-6" google-chart chart="myChartObject" style="height:130px;"></div>
            <div class="col-xs-12 col-sm-6">
                <div>85 Calls</div>
                <div>52 Callers</div>
                <div>25 call-backs</div>
                <div>01:32 wait time</div>
                <div class="">52 Callers</div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-7">

    <div class="panel panel-info">
        <div class="panel-heading">
            <i class="fa fa-area-chart"></i> Daily Calls Logged
        </div>
        <div class="panel-body">
            <div ng-controller="weeklyChartCtrl">
                <canvas id="line" class="chart-bar" chart-data="data"
                        chart-labels="labels" chart-series="series" chart-options="options" chart-colors="colors"
                        chart-dataset-override="datasetOverride" chart-click="onClick">
                </canvas>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <i class="fa fa-line-chart"></i> Monthly Calls Logged
        </div>
        <div class="panel-body">
            <div ng-controller="monthlyChartCtrl">
                <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick">
                </canvas>
            </div>
        </div>
    </div>

</div>
<div class="col-sm-2">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-phone-square"></i> 0800 622 989
        </div>
        <div class="panel-body text-center">
            <h1>340</h1>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-phone-square"></i> 0845 922 899
        </div>
        <div class="panel-body text-center">
            <h1>21</h1>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-phone-square"></i> 0776 655 442
        </div>
        <div class="panel-body text-center">
            <h1>567</h1>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-phone-square"></i> 01927 9988
        </div>
        <div class="panel-body text-center">
            <h1>346</h1>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-phone-square"></i> 0900 999 222
        </div>
        <div class="panel-body text-center">
            <h1>543</h1>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-phone-square"></i> 0845 922 899
        </div>
        <div class="panel-body text-center">
            <h1>23</h1>
        </div>
    </div>

</div>
